*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: 100vh;
    background-color:#333;
    display: flex;
    justify-content: center;
    align-items: center;
    >ul{
        width: 450px;
        height:50px;
        display: flex;
        >li{
            height: 100%;
            width: 50px;
            list-style:none;
            margin-inline:5px;
            background-color:white;
            border-radius:3px;
            position: relative;
            overflow: hidden;
            >a{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                align-items: center;
                text-decoration: none;
                color:black;
                font-family: cursive;
                font-size:18px;
                z-index:2;
                position: relative;
                transition:.2s .1s;
                &:hover{
                    color:white;
                }
            }
            /* ________After_________ */
            &::after{
                content:'';
                display: block;
                width: 100%;
                height: 100%;
                background-color:black;
                position: absolute;
                top: 0;left: 0;
                transform:scale(1.5) rotate(-45deg) translateX(-72px);
            }
            &:hover::after{
                animation:caret 1.5s ease-in-out forwards;
            }
        }
    }
}

@keyframes caret {
    40%{
        transform:scale(1.5) rotate(-45deg) translateX(10px);
    }
    100%{
        transform:scale(1.5) rotate(-45deg) translateX(0px);
    }
}